#header {
    background-image: url(/assets/imgs/header-back.webp);
    min-height: 100vh;

    .header-content {
        @include flex ($justify-content:none);
        max-width: 80%;
        margin: auto;
        gap: 20px;
        .header-img{
            margin-top: 90px;
        }
        .header-text{
            @include flex($align-items:flex-start);
            flex-direction: column;
            gap: 20px;
            h5{
                font-size: 30px;
                font-weight: 400;
                color: #fff;
            }
            h3{
                font-size: 40px;
                font-weight: 500;
                color: #fff;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #fff;
            }
            button{
                @extend %button;
            }
        }
    }
}