body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}