body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
}

footer .footer-content .subscribe form button, #lookingjob .right-lookjob .look-job-text button, #lookingjob .left-lookjob .look-job-text button, #companies .company-title button, #job-listing .job-list .list-btn .right-btn button, #job-listing .job-title button, #search .search-content .findjob form button, #header .header-content .header-text button, #nav .nav-button button {
  background: #00D363;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 13px 29px;
  transition: 0.5s all ease;
}
footer .footer-content .subscribe form button:hover, #lookingjob .right-lookjob .look-job-text button:hover, #lookingjob .left-lookjob .look-job-text button:hover, #companies .company-title button:hover, #job-listing .job-list .list-btn .right-btn button:hover, #job-listing .job-title button:hover, #search .search-content .findjob form button:hover, #header .header-content .header-text button:hover, #nav .nav-button button:hover {
  color: #00D363 !important;
  border: 1px solid #00D363;
  background: transparent;
}

#nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: rgba(43, 156, 255, 0.5960784314);
  padding: 20px;
  position: fixed;
  z-index: 10;
  width: 100vw;
}
#nav .nav-list ul {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
#nav .nav-list ul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s all ease;
}
#nav .nav-list ul li a:hover {
  color: #00D363;
}
#nav .nav-button {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
#nav .nav-button a {
  color: #fff;
  font-size: 15px;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #nav {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #nav {
    width: 100%;
  }
}
#header {
  background-image: url(/assets/imgs/header-back.webp);
  min-height: 100vh;
}
#header .header-content {
  align-items: center;
  justify-content: none;
  display: flex;
  max-width: 80%;
  margin: auto;
  gap: 20px;
}
#header .header-content .header-img {
  margin-top: 90px;
}
#header .header-content .header-text {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#header .header-content .header-text h5 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
#header .header-content .header-text h3 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
#header .header-content .header-text p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
#search {
  min-height: 40vh;
}
#search .search-content {
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 90%;
  margin: auto;
}
#search .search-content .findjob form {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}
#search .search-content .findjob form input {
  border: 1px solid #E8E8E8;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}
#search .search-content .findjob form input:focus {
  outline: none;
}
#search .search-content .findjob form select {
  border: 1px solid #E8E8E8;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}
#search .search-content .findjob form button {
  font-size: 18px;
  padding: 20px;
  width: 220px;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #search .search-content .findjob form {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #search .search-content .findjob form {
    flex-direction: column;
  }
}
#search .search-content .popular-search {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#search .search-content .popular-search h3 {
  font-size: 18px;
  font-weight: 400;
  color: #001D38;
}
#search .search-content .popular-search .search-btn {
  background-color: #fff;
  color: #0A8CFF;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #CEE8FF;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 14px;
}

#category {
  min-height: 80vh;
  background-color: #F5F7FA;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
#category .category-title {
  margin: auto;
  max-width: 80%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
#category .category-title h3 {
  color: #001D38;
  font-size: 38px;
  font-weight: 400;
}
#category .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: auto;
  max-width: 80%;
}
#category .parent .div {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid transparent;
}
#category .parent .div:hover h4 {
  border-color: #B2F2D0;
  border: 1px solid transparent;
  color: #00D363;
}
#category .parent .div h4 {
  color: #191d34;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
#category .parent .div p {
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 400;
}
#category .parent .div p span {
  background: #E6F3FF;
  color: #0A8CFF;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.5s all ease;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #category .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #category .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

#job-listing {
  background-color: #F5F7FA;
  min-height: 180vh;
}
#job-listing .job-title {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
#job-listing .job-title h3 {
  font-size: 38px;
  font-weight: 400;
  color: #001D38;
}
#job-listing .job-title button {
  background-color: #fff;
  color: #00D363 !important;
  border: 1px solid #00D363;
}
#job-listing .job-title button:hover {
  background: #00D363;
  border: 1px solid transparent;
  color: #fff !important;
}
#job-listing .job-list {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 80%;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;
}
#job-listing .job-list:hover {
  border-color: #B2F2D0;
  color: #00D363;
  border: 1px solid transparent;
}
#job-listing .job-list .list-text {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
#job-listing .job-list .list-text .list-img {
  width: 82px;
  height: 82px;
  border-radius: 5px;
  padding: 15px;
  background: #F5F7FA;
  border: 1px solid #F0F0F0;
}
#job-listing .job-list .list-text .list-text-title h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
}
#job-listing .job-list .list-text .list-text-title .list-location {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
#job-listing .job-list .list-text .list-text-title .list-location p {
  font-size: 16px;
  color: #AAB1B7;
}
#job-listing .job-list .list-btn .right-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
#job-listing .job-list .list-btn .right-btn a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #00D363;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background: #EFFDF5;
  transition: 0.5s all ease;
}
#job-listing .job-list .list-btn .right-btn a:hover {
  background: #00D363;
  color: #fff;
}
#job-listing .job-list .list-btn p {
  text-align: right;
  margin-top: 20px;
  font-size: 14px;
  font-style: italic;
  color: #7A838B;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #job-listing .job-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #job-listing .job-list {
    flex-direction: column;
  }
}

#candidate {
  background-color: #F5F7FA;
  min-height: 70vh;
}
#candidate h3 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  color: #001D38;
  margin-bottom: 30px;
}
#candidate .team {
  max-width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  margin: auto;
}
#candidate .team .person1 {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  width: 20%;
  transition: 0.5s all ease;
}
#candidate .team .person1:hover h4 {
  border-color: #B2F2D0;
  border: 1px solid transparent;
  color: #00D363;
}
#candidate .team .person1 .team-icon {
  position: absolute;
  text-align: center;
  top: 50%;
  background: rgba(10, 140, 255, 0.1);
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
#candidate .team .person1 .team-icon i {
  padding: 10px;
  color: #0A8CFF;
  font-size: 18px;
}
#candidate .team .person1 .left-icon {
  left: -19px;
}
#candidate .team .person1 .icon-right {
  right: -19px;
}
#candidate .team .person1 h4 {
  font-size: 20px;
  font-weight: 400;
  color: #001D38;
  margin-top: 24px;
}
#candidate .team .person1 p {
  font-size: 16px;
  font-weight: 400;
  color: #AAB1B7;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #candidate .team {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #candidate .team {
    flex-direction: column;
  }
}

#companies {
  background-color: #F5F7FA;
  min-height: 10vh;
}
#companies .company-title {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
#companies .company-title h3 {
  font-size: 38px;
  font-weight: 400;
  color: #001D38;
}
#companies .company-title button {
  background-color: #fff;
  color: #00D363 !important;
  border: 1px solid #00D363;
  transition: 0.5s all ease;
}
#companies .company-title button:hover {
  background: #00D363;
  border: 1px solid transparent;
  color: #fff !important;
}
#companies .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: auto;
  max-width: 80%;
}
#companies .parent .div {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 30px;
  transition: 0.5s all ease;
}
#companies .parent .div:hover h4 {
  border-color: #B2F2D0;
  border: 1px solid transparent;
  color: #00D363;
  border: 1px solid transparent;
}
#companies .parent .div .company-img {
  width: 82px;
  height: 82px;
  border-radius: 5px;
  padding: 15px;
  background: #F5F7FA;
  border: 1px solid #F0F0F0;
  margin-bottom: 10px;
}
#companies .parent .div h4 {
  color: #191d34;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
#companies .parent .div p {
  font-size: 16px;
  color: #AAB1B7;
  font-weight: 400;
}
#companies .parent .div p span {
  background: #E6F3FF;
  color: #0A8CFF;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #companies .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #companies .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

#lookingjob {
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
#lookingjob .left-lookjob {
  min-height: 60vh;
  background-image: url(/assets/imgs/looking-for-job.webp);
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#lookingjob .left-lookjob .layer {
  position: absolute;
  background: #0A8CFF;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
#lookingjob .left-lookjob .look-job-text {
  z-index: 3;
  position: absolute;
  top: 120px;
  right: 50px;
}
#lookingjob .left-lookjob .look-job-text h3 {
  font-size: 38px;
  font-weight: 400;
  color: #FFFFFF;
}
#lookingjob .left-lookjob .look-job-text p {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 12px;
}
#lookingjob .right-lookjob {
  background: #0A8CFF;
  width: 50%;
  height: 100%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
#lookingjob .right-lookjob .look-job-text h3 {
  font-size: 38px;
  font-weight: 400;
  color: #FFFFFF;
}
#lookingjob .right-lookjob .look-job-text p {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 12px;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  #lookingjob {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  #lookingjob {
    flex-direction: column;
  }
}
#testimonial {
  min-height: 70vh;
  background-color: #F5F7FA;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#testimonial h3 {
  font-size: 38px;
  font-weight: 400;
  color: #001D38;
}
#testimonial .testimo-content {
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
#testimonial .testimo-content p {
  max-width: 60%;
  margin: auto;
  font-size: 18px;
  color: #040E27;
  line-height: 32px;
}
#testimonial .testimo-content span {
  max-width: 60%;
  margin: auto;
  color: #7A838B;
  font-size: 16px;
  font-weight: 400;
  display: block;
}
#testimonial .testimo-content .testimo-img {
  width: 230px;
}
#testimonial .testimo-content .team-icon {
  text-align: center;
  background: rgba(10, 140, 255, 0.1);
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
#testimonial .testimo-content .team-icon i {
  padding: 10px;
  color: #0A8CFF;
  font-size: 18px;
}
#testimonial .testimo-content .team-icon .left-icon {
  margin-bottom: 20px;
}

footer {
  min-height: 100vh;
  background-color: #212529;
  align-items: center;
  justify-content: center;
  display: flex;
}
footer .footer-content {
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}
footer .footer-content .logo p {
  color: #AAB1B7;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
footer .footer-content .logo .footer-icons {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}
footer .footer-content .logo .footer-icons .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #334A60;
  transition: 0.5s all ease;
}
footer .footer-content .logo .footer-icons .icon i {
  font-size: 16px;
  color: #334A60;
  padding: 10px 13px;
}
footer .footer-content .logo .footer-icons .icon:hover {
  background-color: #00D363;
}
footer .footer-content .company h3 {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 40px;
}
footer .footer-content .company ul li {
  margin: 10px 0;
}
footer .footer-content .company ul li a {
  color: #AAB1B7;
  font-weight: 400;
  font-size: 14px;
}
footer .footer-content .category h3 {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 40px;
}
footer .footer-content .category ul li {
  margin: 10px 0;
}
footer .footer-content .category ul li a {
  color: #AAB1B7;
  font-weight: 400;
  font-size: 14px;
}
footer .footer-content .subscribe h3 {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 40px;
}
footer .footer-content .subscribe p {
  font-size: 14px;
  color: #AAB1B7;
  line-height: 26px;
}
footer .footer-content .subscribe form {
  margin-bottom: 20px;
}
footer .footer-content .subscribe form input {
  background-color: #212529;
  border: 1px solid #334A60;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}
footer .footer-content .subscribe form input:focus {
  outline: none;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  footer .footer-content {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  footer .footer-content {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */